<div class="py-[15vh] w-[90%] sm:w-[70%] mx-auto">
    <h2 class="text-center text-3xl font-bold mb-10">Información del producto</h2>

    <div class="text-center my-12" *ngIf="cargando">
        <app-cargando></app-cargando>
    </div>

    <div class="sm:flex sm:flex-auto bg-white rounded-2xl overflow-hidden" *ngIf="!cargando">
        <div [ngClass]="claseMensaje" (click)="ocularMensaje()">
            <app-mensaje-success></app-mensaje-success>
        </div>
        <div class="sm:w-[30%]">
            <img [src]="producto?.urlImagen" [alt]="producto?.nombre">
        </div>
        <div class="py-3 px-6">
            <h3 class="my-4 font-bold text-lg">{{producto?.nombre}}</h3>
            <h4 class="my-4"><span class="font-bold">Descripción: </span>{{producto?.descripcion}}</h4>
            <p class="my-4"><span class="font-bold">Precio: </span>$ {{producto?.precio}}</p>
            <div class="my-5 text-center text-lg">
                <button class="bg-gray-800 hover:bg-gray-600 px-6 py-2 text-white cursor-pointer
                 rounded-3xl btn-agregar"
                 (click)="agregarAlCarrito()"
                 >
                    Agregar al carrito <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </div>
    </div>
</div>
