<div class="py-10 px-5 sm:px-20">
    <h2 class="text-center text-3xl font-bold">Productos disponibles</h2>

    <div class="text-center my-12" *ngIf="cargando">
        <app-cargando></app-cargando>
    </div>

    <div class="mensaje" [ngClass]="claseMensaje" (click)="ocularMensaje()">
        <app-mensaje-success></app-mensaje-success>
    </div>

    <div class="flex flex-wrap my-10" *ngIf="!cargando">
        <div class=" w-[20%] min-w-40 flex-auto mx-3 my-5" *ngFor="let producto of productosMostrados">
            <div class="w-[100%] max-w-80 bg-white rounded-2xl overflow-hidden cursor-pointer card" [id]="producto.id" >
                <img class="w-100" [src]="producto.urlImagen" [alt]="producto.urlImagen">
                <div class="p-3">
                    <h2 class="text-[20px] font-semibold">{{producto.nombre}}</h2>
                    <h3 class="text-[17px]">$ {{producto.precio}}</h3>
                </div>
                <div class="text-center mb-4">
                    <button class="bg-gray-800 hover:bg-gray-600 px-6 py-2 text-white cursor-pointer
                     rounded-3xl btn-agregar"
                     (click)="agregarAlCarrito(producto)"
                     >
                        Agregar <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="flex flex-wrap justify-center" *ngIf="!cargando">
        <div class="mx-5 text-cyan-800 text-2xl hover:text-cyan-600 cursor-pointer" 
        (click)="retrocederrPagina()"
        *ngIf="pagina>0"
        >
            <i class="fa-solid fa-circle-chevron-left"></i>
        </div>

        <div class="mx-5 text-cyan-800 text-2xl hover:text-cyan-600 cursor-pointer" 
        *ngFor="let item of paginas; index as i" (click)="paginar(i)"
        [class.seleccionado]="i==pagina"
        >
            {{i+1}}
        </div>

        <div class="mx-5 text-cyan-800 text-2xl hover:text-cyan-600 cursor-pointer" 
        (click)="avanzarPagina()"
        *ngIf="pagina<paginas.length-1"
        >
            <i class="fa-solid fa-circle-chevron-right"></i>
        </div>
    </div>


</div>
